@import './theme/variables.scss';
@import './theme/breakpoints.scss';

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  max-width: 100vw;
  font-family: $font-family;
  color: $tertiary-color;
}

/** Container **/
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}